@using H3WebshopBackend.Frontend.Services;
@inject ShoppingCartService shoppingCartService
<h3>ShoppingCart</h3>

@foreach (var item in shoppingCartService.Cart)
{
    <p>@item.Name</p>
}

@code {

}
