@page "/CustomerComponentTemplate"
@using H3WebshopBackend.Frontend.Services;
@using H3WebshopBackend.Repository.Models;
@inject FrontEndCustomerService customerService

<div class="container">
    <h3>AddCustomer</h3>
    <div class="body">
        <form onsubmit="">

        </form>
    </div>
</div>

@code {
    Customer customer = new();

    protected override async Task OnInitializedAsync()
    {
        
    }
}
