@inherits LayoutComponentBase

<PageTitle>H3WebshopBackend.Frontend</PageTitle>

<div class="page">
    <div class="NavMenu">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
